extends layout

block content
  h1= title 
  p Hello, this is #{title} TM as described in the title.
  p Creating a User >> <a href="http://localhost:3000/users">Click here to create a User.</a>
  p Creating a listing >> <a href="http://localhost:3000/listings">Click here to create a listing.</a>
  p Showing all users >> <a href="http://localhost:3000/show-all-users">Click here to show all users.</a>
  p Showing all listings >> <a href="http://localhost:3000/show-all-listings">Click here to show all listings.</a>
  